*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
    color:#1b2f74;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    background:#08235f;
    height:90px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:90px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ffb400;
}
.hero{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:40px;
    padding:60px 0;
}

.hero h1{
    font-size:55px;
    color:#17306e;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#f07b17;
    font-style:italic;
    margin-bottom:30px;
}

.btn-whatsapp{
    display:inline-block;
    background:#22c55e;
    color:#fff;
    padding:15px 30px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}
